<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
    <h1>
      <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
    </h1>
  </header>
  <div class="sheet-content">
    <table>
      <tr>
        <th>Parent Skill</th>
      </tr>
      <tr>
        <td>
          <input
            name="data.parentSkill"
            type="text"
            value="{{data.data.parentSkill}}"
            placeholder="Parent Skill"
          />
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <th>Technique Type</th>
      </tr>
      <tr>
        <td>
          <input
            name="data.type"
            type="text"
            value="{{data.data.type}}"
            placeholder="Technique Type"
          />
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <th>Level</th>
        <th>Modifier</th>
        <th>Experience</th>
        <th>Energy Cost</th>
      </tr>
      <tr>
        <td>
          <input
            name="data.level"
            type="number"
            value="{{data.data.level}}"
            placeholder="Level"
          />
        </td>
        <td>
          <input
            name="data.mod"
            type="number"
            value="{{data.data.mod}}"
            placeholder="Modifier"
          />
        </td>
        <td>
          <input
            name="data.exp"
            type="number"
            value="{{data.data.exp}}"
            placeholder="Experience"
          />
        </td>
        <td>
          <input
            name="data.cost"
            type="number"
            value="{{data.data.cost}}"
            placeholder="Energy Cost"
          />
        </td>
      </tr>
    </table>

    <nav class="sheet-tabs tabs"> 
      <a class="item" data-tab="description">Description</a>
    </nav>

    <section class="sheet-body">
      <div class="editor-wrapper tab" data-tab="description">
        {{editor content=data.data.description target="data.description" button=true
        owner=owner editable=editable}}
      </div>
    </section>
  </div>
</form>
