<form class="actor-sheet {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{actor.img}}"
      data-edit="img"
      title="{{actor.name}}"
      height="100"
      width="100"
    />
    <h1 class="charname">
      <input
        name="name"
        type="text"
        value="{{actor.name}}"
        placeholder="Name"
      />
    </h1>
  </header>
  <div class="header-fields">
    <div class="resources grid grid-3col">
      <div class="resource flex-group-center">
        <label for="data.vigor.value" class="resource-label">Vigor</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input
          type="text"
          name="data.vigor.value"
            value="{{data.vigor.value}}"
            data-dtype="Number"
          />
          <span> / </span>
          <span name="data.vigor.max">{{data.vigor.max}}</span>
        </div>
      </div>
      <div class="resource flex-group-center">
        <label for="data.energy.value" class="resource-label">Energy</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input
          type="text"
          name="data.energy.value"
            value="{{data.energy.value}}"
            data-dtype="Number"
          />
          <span> / </span>
          <span name="data.energy.max">{{data.energy.max}}</span>
        </div>
      </div>
      <div class="resource flex-group-center">
        <label for="data.barrier.value" class="resource-label">Barrier</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input
          type="text"
          name="data.barrier.value"
            value="{{data.barrier.value}}"
            data-dtype="Number"
          />
          <span> / </span>
          <input
          type="text"
          name="data.barrier.max"
            value="{{data.barrier.max}}"
            data-dtype="Number"
          />
        </div>
      </div>
      <div class="resource flex-group-center">
        <label for="data.armor" class="resource-label">Armor</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input
          type="text"
          name="data.armor"
            value="{{data.armor}}"
            data-dtype="Number"
          />
        </div>
      </div>
      <div class="resource flex-group-center">
        <label for="data.exp" class="resource-label"
          >Experience (Available)</label
        >
        <div class="resource-content flexrow flex-center flex-between">
          <input
          type="text"
          name="data.exp"
            value="{{data.exp}}"
            data-dtype="Number"
          />
        </div>
      </div>
      <div class="resource flex-group-center">
        <label for="data.tExp" class="resource-label">Experience (Spent)</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input
          type="text"
          name="data.tExp"
            value="{{data.tExp}}"
            data-dtype="Number"
          />
        </div>
      </div>
    </div>
    <div class="attributes">
      <table>
        <tr>
          <th>Name</th>
          <th>Level</th>
          <th>Modifier</th>
          <th>Experience</th>
          <th>Rolled</th>
        </tr>
        {{#each data.attributes as |attribute key|}}
        <tr>
          <td>
            <label
              class="resource-label rollable"
              name="data.attributes.{{key}}.name"
              data-roll="d20+@attributes.{{key}}.value+@attributes.{{key}}.mod"
              data-label="{{key}}"
              data-type="attribute"
              for="data.attributes.{{key}}.value"
              >{{attribute.name}}</label
            >
          </td>
          <td>
            <input
            type="text"
            name="data.attributes.{{key}}.value"
              value="{{attribute.value}}"
              data-dtype="Number"
            />
          </td>
          <td>
            <input
              class="attribute-mod"
              name="data.attributes.{{key}}.mod"
              type="text"
              value="{{attribute.mod}}"
              data-dtype="String"
            />
          </td>
          <td>
            <input
              class="attribute-exp"
              name="data.attributes.{{key}}.exp"
              type="text"
              value="{{attribute.exp}}"
              data-dtype="String"
            />
          </td>
          <td>
            <input
              type="checkbox"
              class="attribute-rolled"
              name="data.attributes.{{key}}.rolled"
              {{
              checked
              attribute.rolled
              }}
            />
          </td>
        </tr>
        {{/each}}
      </table>
    </div>
  </div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="techniques">Techniques</a>
  </nav>

  <section class="sheet-body sheet-content">
    <div
      class="tab biography editor"
      data-group="primary"
      data-tab="description"
    >
      {{editor content=data.description target="data.description" button=true
      owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      <ol class="objects-list">
        <li class="object flexrow object-header">
          <div class="object-image"></div>
          <div class="object-name">Name</div>
        </li>
        {{#each actor.gear as |object id|}}
        <li class="object flexrow" data-object-id="{{object._id}}">
          <div class="object-image">
            <img
              src="{{object.img}}"
              title="{{object.name}}"
              width="24"
              height="24"
            />
          </div>
          <h4 class="object-name">{{object.name}}</h4>
        </li>
        {{/each}}
      </ol>
    </div>

    {{!-- Owned skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
      <ol class="objects-list">
        <li class="object flexrow object-header">
          <div class="object-name">Name</div>
          <div class="object-level">Level</div>
          <div class="object-modifier">Modifier</div>
          <div class="object-rolled">Rolled</div>
        </li>
        {{#each actor.skills as |object id|}}
        <li class="object flexrow" data-object-id="{{object._id}}">
          <h4 class="object-name">
            <label
              class="resource-label rollable"
              data-type="Skill"
              data-id="{{object._id}}"
              >{{object.name}}</label
            >
          </h4>
          <h4 class="object-level">{{object.data.level}}</h4>
          <h4 class="object-modifier">{{object.data.mod}}</h4>
          <h4 class="object-rolled">
            <input
              type="checkbox"
              class="skill-rolled"
              onclick="return false"
              {{
              checked
              object.data.rolled
              }}
            />
          </h4>
        </li>
        {{/each}}
      </ol>
    </div>

    {{!-- Owned techniques Tab --}}
    <div class="tab techniques" data-group="primary" data-tab="techniques">
      <ol class="objects-list">
        <li class="object flexrow object-header">
          <div class="object-name">Name</div>
          <div class="object-name">Level</div>
          <div class="object-name">Modifier</div>
          <div class="object-name">Experience</div>
        </li>
        {{#each actor.techniques as |object id|}}
        <li class="object flexrow" data-object-id="{{object._id}}">
          <h4 class="object-name">
            <label
              class="resource-label rollable"
              data-type="Technique"
              data-id="{{object._id}}"
              >{{object.name}}</label
            >
          </h4>
          <h4 class="object-level">{{object.data.level}}</h4>
          <h4 class="object-modifier">{{object.data.mod}}</h4>
          <h4 class="object-experience">{{object.data.exp}}</h4>
        </li>
        {{/each}}
      </ol>
    </div>
  </section>
</form>
